*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#black_container{
    max-width: 1604px;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    margin-top: 64px;
    border: 1px solid black;
}
#main_container{
    max-width: 1412px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 96px;
    border: 1px solid white;
}

#header_container{
    max-width: 1280px;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    margin-top: 96px;
}
#header{
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    text-align: center
}
#main_head{
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
    color: #002AFE;
}
#subtitle_container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
}
#subtitle{
    font-size: 48px;
    font-weight: 600;
    line-height: 60PX;
    color: #181D27;
}
#description_container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
}
#description{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #535862;
}

.boxes{
    max-width: 1280px;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 56px;
}
.image_container{
    display: inline-block;
    vertical-align: middle;
}
.card{
    max-width: 584px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 90px;
    border: 1px solid black;
}
.card_head{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #6941C6;
}
.card_subtitle_container{
    margin-top: 8px;
    vertical-align: middle;
}
.card_subtitle{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #181D27;
    
     
}
.arrow_container{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
.text_contaienr{
    margin-top: 8px;
}
.card_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #535862;
}
.avatar_container{
    margin-top: 24px;
}
.avatar{
    display: inline-block;
    vertical-align: middle;
}
.name_date_container{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.name{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #181D27;
}
.date{
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    color: #535862;
}
.card_third{
    margin-left: 98px;
}
.box_third{
    margin-bottom: 96px;
}